<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OHRM Suite">


	<listeners>
		<listener class-name="com.Utilities.ListnerClass" />
	</listeners>

	<test thread-count="1" name="Functional Test">
		<classes>
			<!--			<class name="com.TestClass.LoginTest">
-->
			<!--<class name="com.TestClass.DashboardTest">
				<methods>
					<include name="caseSensitivityTest"/>
				</methods>

			</class>-->
			<class name="com.TestClass.EmployeeCreationTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
